<div class="container">
    <div class="col-md-12">
        
    <h1>Reservations</h1>

    <form>
        <label for="name">Name: </label>
        <input type="text" id="name" placeholder="Name"/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="date">Date: </label>
        <input type="text" id="date" placeholder="dd/mm/yy" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" id="people" placeholder="Number Of People" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="number" id="baby" placeholder="Baby Seats" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" type="submit">Book</button>
    </form>
    </div>


</div>
    
