
<app-navbar (featureSelected)="onNavigate($event)"></app-navbar>
<app-carousel></app-carousel>

<div class="col-md-12">
    <div class="col-md-7">
       <img src ="../assets/img/berry.jpg" class="img-responsive" />
    </div>
    <div class="col-md-5">
        <h3>Our restaurant uses all the fresh fruits and veggies directly supplied from our Aussie farmers. This makes our food more healthy and tasty.
            You can always have a look at our restaurant menu and find out for yourself.
        </h3>
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-5">
        <h3>'Coffee with a friend is like capturing happiness in a cup'. <p></p>So, why not enjoy our different range of roasted coffees with a special friend and make your day happy. </h3>

    </div>
    <div class="col-md-7">
        <img class="image" src ="../assets/img/coffee.jpg" />
    </div>
</div>

<div class="col-md-12">
    <div class="col-md-7">
        <img src ="../assets/img/table.jpg" />
    </div>
    <div class="col-md-5">
        <h3>Our restaurant even gives you an opportunity to book a table in advance. Just navigate to our 'Contact Us' page where we will guide you to make your booking.</h3>
    </div>
</div>



<div class="footer"></div>